<?xml version="1.0" encoding="UTF-8"?>
<settings>
<servers>
    <server>
        <id>anypoint-exchange-v3</id>
        <username>~~~Client~~~</username>
        <password>473afb936203454a9a3ed8640c077284~?~4323E6572d734b6B96Bf30A235AF8c45</password>
    </server>

</servers>
<profiles>
    <profile>
        <id>Mule</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <repositories>
            <repository>
                <id>MuleRepository</id>
                <name>MuleRepository</name>
                <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                <layout>default</layout>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </repository>
        </repositories>
    </profile>
	<profile>
        <id>anypoint-exchange-v3</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
		<properties>
                <mulesoft.exchange.groupid>fb304765-5a71-4b9b-bfa6-58193b4dab6b</mulesoft.exchange.groupid>
         </properties>
        <repositories>
            <repository>
                <id>anypoint-exchange-v3</id>
                <name>anypoint-exchange-v3</name>
                <url>https://maven.anypoint.mulesoft.com/api/v3/organizations/fb304765-5a71-4b9b-bfa6-58193b4dab6b/maven</url>
                <layout>default</layout>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </repository>
        </repositories>
    </profile>
</profiles>   
</settings>
